body{margin:0;}

.nombre{
    font: 51px "Mr De Haviland", cursive;
    float: left;
    padding: 2px;
    color: #F99A8B;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 35px 35px;
    text-decoration: none;
    height: 80px;
    font-family: "Lucida Console", monospace;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  .hero {
    background-image: url('https://ntnc.org.np/sites/default/files/styles/slider_1920x1024/public/default_images/default-cover_0.jpg?itok=Tps_3S1F');
    width: 100%;
    height: 512px;
    background-repeat: no-repeat;
    background-position: center;
    /*opacity: 0.5;*/
    margin-top: 80px;
  }

  .intro{
      border: 10px #F99A8B;
      color: white;
      position: absolute;
      top: 40%;
      left: 35%;
      width: 30%;
      height: 30%;
      background-color: #111
  }
  
